.shopping-cart-container{
  background: #fff;
  bottom: 0;
  line-height: normal;
  width: 500px;
  position: fixed;
  right: -500px;
  top: 0;
  -webkit-transition: all 1.5s ease 0s;
  -ms-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
  z-index: 3;
}

.active{
  right:0;
}

.shopping-cart-header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dedede;
  padding: 10px;
}

.shopping-cart-item-container {
  border-bottom: 1px solid #dedede;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 30px;
}

.shopping-image{
  width: 30px;
}

.shopping-total{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.shopping-information {
  flex-grow: 1;
  padding: 0 40px;
}

.quantity {
  display:flex;
  justify-content: flex-start;
  align-items: center;
}